body {
  margin: 10px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 10px 20px;
  background-image: url("timetravel background.jpg")

}

h1 {
  font-size: 110px;
  color: red;
  padding-left:0px;
}
h2 {
  font-size: 80px;
  color: red;
  padding-left: 110px;
  padding-top: 200px;
}

h3 {
  font-size: 40px;
  color: red;
  padding-left: 210px;
  padding-top: 200px
}

a {
color: #E4DAD8;
text-shadow:1px 1px 2px black,0 0 25px yellow;
}
